@import url("./layouts/container.css");
@import url("./layouts/sidebar.css");
@import url("./layouts/header.css");
@import url("./theme/default-colors.css");
@import url("./override/reboot.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-[1200px];
  }

  .landingpage .container {
    @apply max-w-[1320px];
  }

  body {
    @apply text-sm overflow-x-hidden dark:bg-dark text-link dark:text-darklink;
  }

  .dropdown {
    @apply shadow-md bg-white dark:bg-dark relative rounded-sm dark:shadow-dark-md;
  }

  .card-title {
    @apply text-lg font-semibold text-dark dark:text-white;
  }

  .card-subtitle {
    @apply text-sm font-medium dark:text-darklink;
  }

  /* heading text color */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-dark dark:text-white;
  }

  .border-ld {
    @apply border-border dark:border-darkborder;
  }

  .bg-hover {
    @apply hover:bg-lightgray;
  }

  .form-control input {
    @apply w-full text-sm border border-border dark:border-darkborder bg-transparent dark:bg-transparent;
  }

  .form-control.active-error input {
    @apply w-full text-sm text-error border border-error bg-transparent dark:bg-transparent;
  }

  .form-control.search input {
    @apply w-full text-sm ps-10 border border-border dark:border-darkborder bg-transparent dark:bg-transparent;
  }

  .form-control-chat input {
    @apply w-full text-sm rounded-md border-0 bg-transparent dark:bg-transparent;
  }

  .form-control-chat input:focus {
    @apply w-full text-sm border-0 ring-transparent outline-none bg-transparent dark:bg-transparent;
  }

  .form-control-rounded input {
    @apply w-full text-sm rounded-full border border-border dark:border-darkborder bg-transparent dark:bg-transparent;
  }

  .form-control-rounded input:focus {
    @apply border-primary outline-none ring-transparent;
  }

  .form-control-textarea {
    @apply w-full text-sm p-4 rounded-full border border-border dark:border-darkborder bg-transparent dark:bg-transparent;
  }

  .form-control-textarea:focus {
    @apply border-primary outline-none ring-transparent;
  }

  .form-control input:focus {
    @apply border-primary outline-none ring-transparent;
  }

  .form-control-input {
    @apply w-full text-sm rounded-md border border-border dark:border-darkborder bg-transparent dark:bg-transparent;
  }

  .form-control-input:focus {
    @apply border-primary outline-none ring-transparent;
  }

  .form-rounded-md input {
    @apply w-full text-sm rounded-md border border-border dark:border-darkborder bg-transparent dark:bg-transparent;
  }

  .form-rounded-md input:focus {
    @apply border-primary outline-none ring-transparent;
  }

  .form-rounded input {
    @apply rounded-full;
  }

  .input-center input {
    @apply text-center;
  }

  input::placeholder {
    @apply text-darklink;
  }

  .select-option select {
    @apply w-auto py-2 ps-4 pe-9 font-medium bg-muted text-darklink border-0 focus:ring-0;
  }

  .select-md select {
    @apply w-full text-sm rounded-md bg-transparent dark:bg-dark border-ld focus:border-primary focus:ring-0;
  }

  .select-md.product select {
    @apply w-full text-sm py-1.5 rounded-md bg-transparent dark:bg-dark border-ld focus:border-primary focus:ring-0;
  }

  .select-rounded select {
    @apply w-full text-sm rounded-full bg-transparent dark:bg-dark border-ld focus:border-primary focus:ring-0;
  }

  .select-md-transparent select {
    @apply w-full text-sm rounded-md bg-transparent dark:bg-gray-800/70 border-ld focus:border-primary focus:ring-0;
  }

  .select-rounded-transparent select {
    @apply w-full text-sm rounded-full bg-transparent dark:bg-gray-800/70 border-ld focus:border-primary focus:ring-0;
  }

  .checkbox {
    @apply h-[18px] w-[18px] border border-bordergray dark:border-darkborder bg-transparent focus:ring-0;
  }

  .text-primary-ld {
    @apply hover:text-primary;
  }

  .custom-product-modal h3 {
    @apply text-lg font-semibold;
  }

  /* Button Hover Color Set */
  button.bg-primary {
    @apply hover:bg-primaryemphasis;
  }

  button.bg-secondary {
    @apply hover:bg-secondaryemphasis;
  }

  button.bg-info {
    @apply hover:bg-infoemphasis;
  }

  button.bg-error {
    @apply hover:bg-erroremphasis;
  }

  button.bg-success {
    @apply hover:bg-successemphasis;
  }

  button.bg-warning {
    @apply hover:bg-warningemphasis;
  }
}
